html {
    font-size: 100%;
    font-family: 'DM Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    /* background-color: black; */
}

#container {
    height: 100%;
}

.introductory-content-div-con {
    position: relative;
    height: 278px;
}

.introductory-content-background-image {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(123.75deg, #F5821F 1.87%, #FF5C00 120.46%);
    
    
    opacity: 0;
    transition: opacity 1s ease;
}

.introductory-content-div {
    color: white;
    padding: 20px;
    padding-left: 56px;
    opacity: 0;
    /* position: absolute; */
    position: relative;
    z-index: 1;
    animation: introductory-content-fade-in 0.5s ease 1s; 
    transition: opacity 1s ease 1s;
}

.iris-h1 {
    font-size: 1.875rem;
    line-height: 2.4375rem;
    margin-bottom: 0.7rem;
}

.hello-h2 {
    display: flex;
    align-items: center;
    font-size: 1.375rem;
    line-height: 1.8rem;
    margin-bottom: 0.7rem;
}

.hello-hand-span {
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 18px;
}

.hello-hand-img {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.iamiris-p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.44rem;
}

.faq-con {
    position: absolute;
    top: 207px;
    left: 13px;
    right: 13px;
    /* width: 390px; */
    height: 400px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 21px;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);

    transition: opacity 1s ease 2s;
    opacity: 0;
}

.robot-circular-btn {
    display: inline-block;
    width: 67px;
    height: 67px;
    position: absolute;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    top: -33.5px;
    left: 25px;

    transition: opacity 1s ease 2s;
    opacity: 0;
}

.robot-circular-btn-0 {
    display: inline-block;
    width: 67px;
    height: 67px;
    border-radius: 50%;

    position: absolute;
    top: 173.5px;
    z-index: 1;
    left: 38px;

    transition: opacity 1s ease 1s;
    opacity: 0;
}

.faq-content {
    width: 340px;
    /* background-color: rgb(253, 253, 203); */
}

.faq-h3 {
    font-weight: 500;
    color: #2D2D2D;
    font-size: 0.875rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    transition: 1s ease opacity 2s;
    opacity: 0;
}

.frequently-asked-questions-span {
    display: block;
    margin-right: 8px;
}

.question-mark-icon-span {
    display: block;
    width: 21px;
    height: 21px;
}

.question-and-answers-list  {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 29px;
}

.question-and-answers-list li {
    font-size: 0.75rem;
    color: #2D2D2D;
    padding: 14px;
    margin-bottom: 9px;
    /* padding-left: ; */
    border: 1px solid #E1E1E1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;

    transition: 1s ease opacity;
    opacity: 0;
}

.question-and-answers-list li dt {
    line-height: 1.3rem;
    display: flex;
    align-items: center;
}

.question-and-answers-list li:nth-child(1) {
    transition: 1s ease opacity 3s;
}

.question-and-answers-list li:nth-child(2) {
    transition: 1s ease opacity 4s;
}

.question-and-answers-list li:nth-child(3) {
    transition: 1s ease opacity 5s;
}

.question-and-answers-list li:nth-child(4) {
    transition: 1s ease opacity 6s;
}

.list-icon-span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

.start-a-new-conversation-btn {
    border: 1px solid #D1D1D1;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #2D2D2D;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    margin: 0 auto;

    transition: 1s ease opacity 7s;
    opacity: 0;
}

.chat-icon-span {
    margin-right: 5px;
    width: 14px;
    height: 14px;
}

.question-and-answers-list-item.show-ele {
    opacity: 1;
}

.show-ele {
    opacity: 1;
}